body {
   text-align: center;
    background-color: #AFE1AF;
}
h1{
    text-align: left;
}
h2{
    text-align: left;
}
.button {
    background-color: red;
    border: slategrey;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
    border-radius: 50px;
    border-style: ridge;
    border-width: 20px;
  }
body {font-family: "Lato", sans-serif}
.mySlides {display: none}